# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [3]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: x.strip().replace('$', '')).astype(float)

In [13]:
unique_values = chipo.drop_duplicates(['quantity', 'item_name', 'choice_description'])
len(unique_values[(unique_values['quantity'] == 1) & (unique_values['item_price'] > 10)]['item_name'].unique())

25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [29]:
chipo.drop_duplicates(['item_name']).query('quantity == 1').set_index('item_name', drop=True)['item_price'].sort_values(ascending=False)

item_name
Barbacoa Salad Bowl                      11.89
Carnitas Salad Bowl                      11.89
Barbacoa Bowl                            11.75
Steak Burrito                            11.75
Barbacoa Crispy Tacos                    11.75
Veggie Salad Bowl                        11.25
Veggie Soft Tacos                        11.25
Veggie Burrito                           11.25
Veggie Bowl                              11.25
Chicken Salad                            10.98
Barbacoa Soft Tacos                       9.25
Steak Crispy Tacos                        9.25
Carnitas Soft Tacos                       9.25
Steak Soft Tacos                          9.25
Carnitas Crispy Tacos                     9.25
Steak Bowl                                8.99
Steak Salad                               8.99
Carnitas Salad                            8.99
Carnitas Bowl                             8.99
Carnitas Burrito                          8.99
Barbacoa Burrito                          8.99
Chicken Salad Bowl                        8.75
Chicken Soft Tacos                        8.75
Chicken Crispy Tacos                      8.75
Veggie Salad                              8.49
Veggie Crispy Tacos                       8.49
Chicken Burrito                           8.49
Salad                                     7.40
Crispy Tacos                              7.40
Burrito                                   7.40
6 Pack Soft Drink                         6.49
Chips and Guacamole                       4.45
Nantucket Nectar                          3.39
Izze                                      3.39
Chips and Mild Fresh Tomato Salsa         3.00
Chips and Roasted Chili Corn Salsa        2.95
Chips and Tomatillo Red Chili Salsa       2.95
Chips and Tomatillo Green Chili Salsa     2.95
Chips and Tomatillo-Red Chili Salsa       2.39
Chips and Roasted Chili-Corn Salsa        2.39
Chips and Tomatillo-Green Chili Salsa     2.39
Chips and Fresh Tomato Salsa              2.39
Chips                                     2.15
Side of Chips                             1.69
Canned Soft Drink                         1.25
Bottled Water                             1.09
Name: item_price, dtype: float64

### Step 6. Sort by the name of the item

In [39]:
chipo.sort_values(by='item_name', ascending=True)

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [55]:
chipo.groupby('item_price')[['item_name', 'quantity']].max().tail(1)

                               item_name  quantity
item_price
44.25       Chips and Fresh Tomato Salsa        15

In [51]:
chipo.sort_values(by='item_price').tail(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [53]:
len(chipo.query('item_name == "veggie salad bowl"'))

18

### Step 9. How many times did someone order more than one Canned Soda?

In [54]:
len(chipo.query('(item_name == "Canned Soda") & (quantity > 1)'))

20